/* Basis styles */

@font-face {
    font-family: 'Antique-Book-Cover';
    src: url('Antique-Book-Cover.ttf.woff') format('woff'),
    url('Antique-Book-Cover.ttf.svg#Antique-Book-Cover') format('svg'),
    url('Antique-Book-Cover.ttf.eot'),
    url('Antique-Book-Cover.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'besom';
    src: url('besom.woff') format('woff'),
    url('besom.woff2') format('woff2'),
    url('besom.svg') format('svg'),
    url('besom.eot'),
    url('besom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    color: #e8e8e8;
}

body {
    margin: 0 auto;
    background-color: black;
}

a {
    color: #f6bdd8;
}

/* Navigation */

nav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-top: 120px;
}

nav ul li {}

.dropdown > ul {
    margin-top: 10px;
    display: none;
    background-color: black;
}

.dropdown > ul li {
    white-space: nowrap;
}

.dropdown > ul li a {
    color: white;
    font-size: 1.8em;
}

.dropdown:hover > ul {
    display: block;
}

nav a {
    text-decoration: none;
    font-family: 'besom';
    color: #f6bdd8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 3.5em;
}

nav a:hover {
    color: white;
    text-decoration: line-through;
}


nav {
    height: 0;
    margin-bottom: 0;
    overflow: scroll;
}

/* Navigation slut */

h1 {
    font-family: 'besom';
    color: #f6bdd8;
    text-transform: uppercase;
    font-size: 3.5em;
}

h2 {
    font-family: 'Antique-Book-Cover';
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2em;
}

h3 {
    font-family: 'Antique-Book-Cover';
    margin-top: 40px;
    margin-bottom: 0;
    line-height: 0.5;
    text-transform: uppercase;
    letter-spacing: 1px;
}

section {
    margin-bottom: 70px;
    border-bottom: 3px solid #f6bdd8;
    padding-bottom: 20px;
}

#content {
    max-width: 1200px;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: auto;
}

.image {
    width: 100%;
}


/* Navigation_mobile */

#nav_dropdown_open {
    height: 60px;
    width: 60px;
    background-color: #f6bdd8;
    border-radius: 50%;
    position: fixed;
    background-image: url(/images/menu_open.svg);
    background-size: 100%;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}


#nav_dropdown_close {
    height: 60px;
    width: 60px;
    background-color: #f6bdd8;
    border-radius: 50%;
    position: fixed;
    background-image: url(/images/menu_close.svg);
    background-size: 100%;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.hidden_menu_icon {
    visibility: hidden;
}

.full_menu {
    background-color: black;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.image {
    width: 100%;
}

#splash {
    width: 100%;
    height: 100%;
    max-height: 400px;
    margin-bottom: 20px;
    overflow: hidden;
}

footer {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    text-align: center;
}
